.container {
  width: 50%;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  height: vh;
  margin: 0 auto;
  padding: 30px;
  margin-top: 90px;

}
.textContent{
    margin: 10px 0;
    font-size: 25px;
}

input {
  width: 100%;
  border: 1px solid #e2e2ea;
  border-radius: 10px;
  padding: 12px;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.btn {
  background-color: #053582;
  padding: 13px 23px;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  margin: 10px 0;
  cursor: pointer;
}
